<footer class="footer">
  <app-container>
    <div class="box0">
      <div class="box1">
        <img
        src="../../../assets/imagens/logo-com-tagline.png"
        alt="Logo Jornada com Tagline" width="161px" height="40px">
          <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
          <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
        </div>
        <div class="box2">
          <p>Acesse nossas redes:</p>
          <img src="../../../assets/icones/whatsapp.png" alt="Logo Whatsapp">
          <img src="../../../assets/icones/instagram.png" alt="Logo Instagram">
          <img src="../../../assets/icones/twitter.png" alt="Logo Twitter">
        </div>
    </div>
  </app-container>
</footer>
